/* .done{
    text-decoration: line-through;
} */

@import url();
@import url();


ul li {
    text-decoration:none;
}

  .space{margin-top:5px;}
  .adding{margin-right:10px;}


  .done{
     background:red;
  }


  .container{
          
    display: flex;
    height: 80vh;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    background: white;
    
    border-radius: 10px;

}
body{background:purple;}




#intro{display: flex;align-items: center;justify-items: center;padding:10px;}
.igual{display: flex;align-items: center;justify-items: center;padding:10px;}