@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster');
h1{
  font-family: 'Indie Flower';
} 

.card ul li {
    text-decoration:none;
    list-style-type: none;
    margin-top:10px;
    }


.card {
 
  transition: all 0.5s;
  display: inline-block;
  margin:10px;
border:none;
}

img{width:35px;height: auto;margin-bottom:8px; }


.card-enter, .card-leave-to
 {
  opacity: 0;
  transform: scale(0);
}
.card-enter-to {
  opacity: 1;
  transform: scale(1);
}



.card-move {
  opacity: 1;
  transition: all 0.5s;
}


/*feito*/
.done{
  text-decoration: line-through;
  color:black;
  font-weight:bolder;
}

.something{
 width: 100%;
  
}

.colors{
  font-size:30px;
 font-family: 'lobster';
  opacity: 0.7;
  color:gray;
}