 .card ul li {
    text-decoration:none;
    list-style-type: none;
    margin-top:10px;
    }


.card {
 
  /* border:1px solid black; */
  transition: all 0.5s;
display: inline-block;
  margin:10px;

}

img{width:35px;height: auto; }


.card-enter, .card-leave-to
 {
  opacity: 0;
  transform: scale(0);
}
.card-enter-to {
  opacity: 1;
  transform: scale(1);
}



.card-move {
  opacity: 1;
  transition: all 0.5s;
}


/*feito*/
.done{font-size:40px;}


.something{
 width: 100%;
  
}